@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
.meal {
  width: 100%;
  max-width: $mx-width;
  margin-inline: auto;

  &__card {
    @include flex-column;
    gap: $lg;

    &__first-row {
      @include justify-center;
      flex-wrap: wrap-reverse;
      column-gap: $lg;
      row-gap: $lg;
      width: 100%;
      max-width: 1000px;
      margin-inline: auto;

      &__meal-details {
        @include flex-column;
        gap: $xs;

        &__category-country {
          @include align-center;
          column-gap: $md;

          h3 {
            font-family: "Open Sans Light";
            font-weight: 300;
          }
        }

        &__youtube-btn {
          margin-top: $md;
        }
      }

      &__meal-img {
        width: 100%;
        max-width: 300px;

        img {
          border-radius: 5px;
        }
      }
    }

    &__second-row {
      @include justify-center;
      flex-wrap: wrap;
      column-gap: $lg;
      row-gap: $lg;
      width: 100%;
      max-width: 1000px;
      margin-inline: auto;

      &__ingredients {
        padding: $sm 0;
        ul {
          li {
            list-style: circle;
          }
        }
      }

      &__instructions {
        width: 100%;
        max-width: 50%;
        padding: $sm 0;
        text-align: justify;
      }
    }
  }
}
