@import "../../styles/variables.scss";
@import "../../styles/functions.scss";
.meals {
  width: 100%;
  max-width: $mx-width;
  margin-inline: auto;
  &__header {
    margin-bottom: $sm;
    text-align: center;

    h1 {
      font-family: "Open Sans Light";
      font-size: $ft-xl;

      @include respond-to($xs-screen) {
        font-size: $ft-lg;
      }
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    place-items: center center;
    gap: $sm;
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: $lg;
    padding: $xs;

    @include respond-to($xs-screen) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__card {
      padding: $md;
      border: 1px solid $accent-2;
      &__img {
        width: 100%;
        max-width: 400px;
        margin-bottom: $sm;
      }

      &__contents {
        @include flex-column;
        width: 100%;
        margin: $sm 0;
        gap: $xs;

        &__heading {
          @include flex-between;
          align-items: center;
          flex-wrap: wrap;

          &__meal-name {
            width: 100%;
            max-width: 200px;
          }
        }

        &__button {
          @include flex-center;
          margin-top: $md;
        }
      }
    }
  }
}
