@import "../../styles/variables.scss";
@import "../../styles/functions.scss";

.header {
  width: 100%;
  max-width: $mx-width;
  margin-inline: auto;
  background-color: $primary;
  border-bottom: 2px solid rgba($accent-2, 0.15);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);

  &__navbar {
    @include align-center;
    justify-content: center;

    &__logo {
      margin-right: $lg;
      a,
      span {
        font-family: $bold-font;
        font-size: $ft-xl;
        color: $secondary;
        transition: color 0.3s ease;

        @include respond-to($xs-screen) {
          font-size: $ft-lg;
        }
      }
    }
    &__nav-links {
      @include align-center;
      gap: $sm;
      padding: $sm;
      &__nav-item {
        &__route {
          font-family: $light-font;
          font-size: $ft-md;
          color: $secondary;
          position: relative;
          transition: color 0.3s ease;
          
          &:hover {
            color: $accent-1;
          }
        }
      }
    }
  }
}
