@import "../../styles/functions.scss";
@import "../../styles/variables.scss";
/* $sm-screen: 30em; // 480 px
$md-screen: 48em; // 768 px
$lg-screen: 62em; // 992 px
$xl-screen: 75em; // 1200 px */
.search-view {
  @include flex-center;
  &__content {
    @include flex-center;
    flex-direction: column;
    &__ask {
      text-align: center;
      margin: $xxl 0;
      h1,
      span {
        font-family: $light-font;
        font-size: $ft-lg;

        @include respond-to($sm-screen) {
          font-size: $ft-md;
        }
      }
    }
    &__input-container {
      width: 100%;
      max-width: 250px;
      margin-top: $sm;

      input {
        width: 100%;
        padding: $xs $sm;
        font-size: $ft-sm;
        font-family: $light-font;
        font-weight: 300;
        text-align: center;
        border: none;
        border-bottom: 2px solid $accent-1;
        background-color: transparent;
        &::placeholder {
          font-size: $ft-sm;
        }
      }
    }

    &__error-container {
      p {
        font-size: $ft-xs;
        font-family: $semibold-font;
        color: $error-color;
      }
    }

    &__button-container {
      width: 100%;
      @include flex-center;
      margin-top: $xl;
    }
  }
}
