/* Background colors */
.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-accent-1 {
  background-color: $accent-1;
}

.bg-accent-2 {
  background-color: $accent-2;
}

/* Text colors */
.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-accent-1 {
  color: $accent-1;
}

.text-accent-2 {
  color: $accent-2;
}
