/* Background colors /
/ Define classes for primary, secondary, and accent-1 and accent-2 background colors */

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-accent-1 {
  background-color: $accent-1;
}

.bg-accent-2 {
  background-color: $accent-2;
}

/* Text colors /
  / Define classes for primary, secondary, and accent-1 and accent-2 text colors */

.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-accent-1 {
  color: $accent-1;
}

.text-accent-2 {
  color: $accent-2;
}

/* This code defines classes for background and text colors using SCSS variables.
  By using these classes throughout the codebase, it is easy to update the colors 
  across the entire application simply by updating the SCSS variables. */
