/* OPEN SANS FONT */

/* Define font face for Open Sans Italic, Light, Regular, Semibold, and Bold */

@font-face {
  font-family: "Open Sans Italic";
  src: local("Open Sans Italic"), local("OpenSans-Italic");
  src: url("/src/styles/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"), local("OpenSans-Light");
  src: url("/src/styles/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Regular";
  src: local("Open Sans Regular"), local("OpenSans-Regular");
  src: url("/src/styles/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Semibold";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold");
  src: url("/src/styles/fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans Bold";
  src: local("Open Sans Bold"), local("OpenSans-Bold");
  src: url("/src/styles/fonts/OpenSans-Bold.ttf") format("truetype");
}

/* Set font-family to "Open Sans Regular" for all elements, including pseudo-elements */

*,
*::before,
*::after {
  font-family: "Open Sans Regular", sans-serif;
}

/* This code defines font faces for the Open Sans font family with different weights and styles, such as Italic, Light, Regular, Semibold, and Bold.
  By using the "font-family" property with the value "Open Sans Regular" for all elements, including pseudo-elements, we set the default font for the 
  entire application to Open Sans Regular, with fallback to a sans-serif font in case Open Sans is not available. */
