/*
Global styles for app components
*/

/* Defines height and width of the page container */
.page-container {
  height: calc(100vh - 100px);
  max-width: $mx-width;
  margin-right: auto;
  margin-left: auto;
  padding-right: $md;
  padding-left: $md;

  /* Responsive styles for smaller screens */
  @include respond-to($sm-screen) {
    padding-right: $sm;
    padding-left: $sm;
  }
}

/* Default style for all buttons */
.default-button {
  width: 250px;
  max-width: 100%;
  padding: $xs $lg;
  font-size: $ft-sm;
  background-color: $accent-2;
  border: none;
  border-radius: 5px;
  transition: all 0.125s ease-out;

  /* Styles for when the mouse hovers over the button */
  &:hover {
    background-color: $accent-1;
  }
}

/* Styles for SVG icons used in buttons */
.button-svg {
  width: 50%;
  @include flex-center;
  padding: $xs $md;
  border: none;
  background-color: transparent;
  transition: all 0.125s ease-out;

  /* SVG properties */
  svg {
    height: auto;
    width: 100%;
    max-width: 40px;
  }

  /* Styles for when the mouse hovers over the button */
  &:hover svg {
    fill: $accent-1;
  }
}

/* Styles for a loading spinner */
.loading-container {
  @include flex-center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary;

  /* Loading spinner properties */
  .loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid $accent-2;
    border-top-color: $accent-1;
    animation: spin 1s infinite linear;
    /* Keyframes for spinning animation */
    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.github-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1;

  a {
    svg {
      width: 40px;
      max-width: 100%;
    }
  }
}

/* Divider line style */
.divider {
  width: 70%;
  height: 2px;
  margin-inline: auto;
  background-color: $accent-2;
  margin-bottom: $sm;
}

/* Hides error message */
.hide-error {
  display: none;
}
