.page-container {
  height: calc(100vh - 90px);
  max-width: $mx-width;
  margin-inline: auto;
}

.default-button {
  width: 50%;
  padding: $xs $lg;
  font-size: $ft-sm;
  background-color: $accent-2;
  border: none;
  border-radius: 5px;
  transition: all 0.125s ease-out;
  &:hover {
    background-color: $accent-1;
  }
}

.button-svg {
  width: 50%;
  @include flex-center;
  padding: $xs $md;
  border: none;
  background-color: transparent;
  transition: all 0.125s ease-out;
  svg {
    height: auto;
    width: 100%;
    max-width: 40px;
  }
  &:hover svg {
    fill: $accent-1;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $primary;

  .loading {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid $accent-2;
    border-top-color: $accent-1;
    animation: spin 1s infinite linear;

    @keyframes spin {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.hide-error {
  display: none;
}

.divider {
  width: 70%;
  height: 2px;
  margin-inline: auto;
  background-color: $accent-2;
  margin-bottom: $sm;
}
