// Define padding and margin sizes using SCSS variables
$padding-margin-sizes: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
);

// Generate utility classes for padding and margin using SCSS loops
@each $name, $value in $padding-margin-sizes {
  // Padding utility classes
  .pa-#{$name} {
    padding: $value;
  }
  .px-#{$name} {
    padding-left: $value;
    padding-right: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pr-#{$name} {
    padding-right: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
  .pl-#{$name} {
    padding-left: $value;
  }

  // Margin utility classes
  .ma-#{$name} {
    margin: $value;
  }
  .mx-#{$name} {
    margin-left: $value;
    margin-right: $value;
  }
  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mr-#{$name} {
    margin-right: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }
  .ml-#{$name} {
    margin-left: $value;
  }
}

// Define custom style for router link with a class name of "active-link"
.active-link {
  color: $accent-1;
  transition: all 0.125s ease-out;
}

// Generate utility classes for border radius using SCSS loops
@for $i from 3 through 8 {
  .border-radius-#{$i} {
    border-radius: #{$i}px;
  }
}

// Define two utility classes for relative and absolute positioning
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
