// Define primary, secondary, accent and error colors for app
$primary: #ffffff; // Main background color
$secondary: #0c0c0f; // Dark background color
$accent-1: #ffa500; // Primary accent color
$accent-2: #ffcc5c; // Secondary accent color
$error-color: #ff6b6b; // Error color

// Define font sizes for app
$ft-xs: 0.75rem; // Extra small | 12px
$ft-sm: 1.063rem; // Small | 17.008px
$ft-md: 1.5rem; // Medium | 24px
$ft-lg: 2.2rem; // Large | 35.2px
$ft-xl: 3rem; // Extra large | 48px

// Define fonts for app
$italic-font: "Open Sans Italic", sans-serif; // Font for italic text
$light-font: "Open Sans Light", sans-serif; // Font for light text
$regular-font: "Open Sans Regular", sans-serif; // Font for regular text
$semibold-font: "Open Sans Semibold", sans-serif; // Font for semi-bold text
$bold-font: "Open Sans bold", sans-serif; // Font for bold text

// Define breakpoints for app
$xs-screen: 23.125em; // Extra small | 370 px
$sm-screen: 30em; // Small | 480 px
$md-screen: 48em; // Medium | 768 px
$lg-screen: 62em; // Large | 992 px
$xl-screen: 75em; // Extra large | 1200 px

// Define utility sizes for app
$xs: 0.4em; // Extra small | 6.4px
$sm: 0.8em; // Small | 12.8px
$md: 1.6em; // Medium | 25.6px
$lg: 2.4em; // Large | 38.4px
$xl: 3.2em; // Extra large |51.2px
$xxl: 4em; // Double extra large | 64px

// Define max width for app
$mx-width: 98.75em; // Maximum width | 1580px
