// App color pallete
$primary: #ffffff;
$secondary: #0c0c0f;
$accent-1: #ffa500;
$accent-2: #ffcc5c;
$error-color: #ff6b6b;

// APP Font sizes
$ft-xs: 0.75rem;
$ft-sm: 1.063rem;
$ft-md: 1.5rem;
$ft-lg: 2.2rem;
$ft-xl: 3rem;

// APP fonts
$italic-font: "Open Sans Italic", sans-serif;
$light-font: "Open Sans Light", sans-serif;
$regular-font: "Open Sans Regular", sans-serif;
$semibold-font: "Open Sans Semibold", sans-serif;
$bold-font: "Open Sans bold", sans-serif;

// App Breakpoints
$sm-screen: 30em;
$md-screen: 48em;
$lg-screen: 62em;
$xl-screen: 75em;

// utility sizes - Paddings, margins
$xs: 0.4em;
$sm: 0.8em;
$md: 1.6em;
$lg: 2.4em;
$xl: 3.2em;
$xxl: 4em;

// Max width for app
$mx-width: 1580px;
